 .u-section-1 {
  background-image: url("images/Screenshot2023-11-06at6.29.36AM.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 391px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 55px 45px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 45px 60px 311px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 58px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 12px;
    margin-right: 27px;
    margin-left: 312px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 222px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
    margin-right: 12px;
    margin-left: 195px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 250px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 157px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1380px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  height: auto;
  margin: 59px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  background-image: none;
  margin-top: 501px;
  margin-bottom: 0;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -814px auto 0;
  padding: 21px;
}

.u-section-2 .u-icon-3 {
  background-image: none;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: -349px 20px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 313px 10px 0;
}

.u-section-2 .u-text-5 {
  width: auto;
  font-size: 1.875rem;
  margin: -36px -202px 0 222px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 16px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 384px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 25px 0;
  }

  .u-section-2 .u-icon-1 {
    width: 190px;
    height: 190px;
    margin-top: 5px;
    margin-right: -593px;
    margin-left: auto;
    padding: 40px;
  }

  .u-section-2 .u-icon-2 {
    height: 190px;
    width: 190px;
    margin-top: -190px;
    margin-left: 43px;
    padding: 41px;
  }

  .u-section-2 .u-icon-3 {
    width: 200px;
    height: 200px;
    margin-top: -195px;
    margin-right: -265px;
    margin-left: auto;
    padding: 45px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-top: 8px;
    margin-right: 45px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: -114px;
    margin-right: -288px;
    margin-left: 348px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-top: -103px;
    margin-right: -622px;
    margin-left: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 289px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-1 {
    width: 148px;
    height: 147px;
    margin-top: 14px;
    margin-right: -279px;
    padding: 32px;
  }

  .u-section-2 .u-icon-2 {
    height: 139px;
    width: 139px;
    margin-top: -148px;
    margin-left: 84px;
    padding: 30px;
  }

  .u-section-2 .u-icon-3 {
    width: 148px;
    height: 148px;
    margin-top: -144px;
    margin-right: -74px;
    padding: 32px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 132px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -78px;
    margin-right: -68px;
    margin-left: 282px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -86px;
    margin-right: -279px;
    margin-left: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 269px;
  }

  .u-section-2 .u-icon-1 {
    height: 148px;
    margin-top: 13px;
    margin-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 29px;
  }

  .u-section-2 .u-icon-3 {
    width: 139px;
    height: 139px;
    margin-top: -134px;
    margin-right: auto;
    padding: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 6px;
    margin-right: 381px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-4 {
    width: 139px;
    margin-top: -86px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 25px;
    margin-left: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.125rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 17px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 161px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-icon-1 {
    width: 81px;
    height: 81px;
    margin-top: 0;
    padding: 19px;
  }

  .u-section-2 .u-icon-2 {
    height: 81px;
    width: 81px;
    margin-top: -79px;
    margin-left: 18px;
    padding: 17px;
  }

  .u-section-2 .u-icon-3 {
    width: 81px;
    height: 81px;
    margin-top: -83px;
    padding: 19px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 7px;
    margin-right: 237px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    width: 90px;
    margin-top: -56px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-right: 14px;
    margin-left: 233px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 359px;
}

.u-section-3 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 12px) calc(33.3333% - 12px) calc(33.3333% - 12px);
  min-height: 269px;
  grid-gap: 18px 18px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 188px;
  height: 188px;
  background-image: url("images/Screenshot2023-11-06at6.31.54AM.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -34px auto 0;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 14px auto 0;
  padding: 7px 32px 9px 31px;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 188px;
  height: 188px;
  background-image: url("images/Screenshot2023-11-06at6.32.49AM.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -34px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 14px auto 0;
  padding: 7px 32px 9px 31px;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 188px;
  height: 188px;
  background-image: url("images/Screenshot2023-11-06at6.33.58AM.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -34px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 14px auto 0;
  padding: 7px 32px 9px 31px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    min-height: 542px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 933px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 782px;
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 352px;
  grid-gap: 15px 15px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 286px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 0 0 107px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 286px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 0 0 107px;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 286px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 0 0 107px;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 47px auto 60px;
  padding: 20px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 458px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-right: 86px;
    margin-left: 1px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-5 {
    font-size: 3rem;
    margin-right: 86px;
    margin-left: 1px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-8 {
    font-size: 3rem;
    margin-right: 86px;
    margin-left: 1px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 755px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 11px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: 11px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-bottom: 38px;
    padding: 12px 11px 13px 9px;
  }
}