 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 33px 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 15px auto 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: -2px;
  }
}